<!-- Profile avatar/bio section -->
<section class="header-container">
  <div class="carousel carousel-slider" data-indicators="true">
    <div class="carousel-fixed-item banner-text">
      <div class="container">
        <img src="./images/artGarden logo.png" style="width:156px;height:156px;" id="logo">
        <h1 class="header center">artGarden</h1>
        <h5 class="header col s12">Grow your art into a career</h5>
      </div>
    </div>
    <img data-src="/images/tinified/art-bg-1.jpg" class="banner-image carousel-item lazyload" alt="">
    <img data-src="/images/tinified/art-bg-3.jpg" class="banner-image carousel-item lazyload" alt="">
    <img data-src="/images/tinified/art-bg-5.jpg" class="banner-image carousel-item lazyload" alt="">
</section>
<div class="container center-align main-container" id="main-container" data-received-session="{{loggedIn}}">


  {{!-- div to hold a requests --}}
  <div class="container request-container main-container" style="width: 100%;">

  </div>

  {{!-- row to hold the request form button --}}
  <div class="row" style="height: 1px; margin: 0;">
    {{!-- create new contract button  --}}
    <button type="button" class="waves-effect waves-light btn sidenav-trigger" id="open-request-button"
      data-target="request-collapsible"><i class="fa fa-plus-square" id="open-request-button-icon"
        style="font-size: 20px; padding-right: .69em;"></i> New Contract</button>

    <div class="sidenav" id="request-collapsible">
      <form id="req-form" name="request" data-user-id="{{id}}" style="padding:1em; text-align:left; margin:0;">
        <h5>Create a new contract:</h5>
        <label for="title">Title</label>
        <input class="text" name="title" type="text" id="title" required />
        <label for="description">Description</label>
        <textarea name="description" id="description" style="height: 7em;" required></textarea>
        <label for="turnaround_time" style="display: block;">Turn Around Time in Hours (Max 168 or 7 days) </label>
        <input name="turnaround_time" type="number" min="1" max="168" value="24" id="turnaround_time" /><br>
        <label for="starting_price" style="display: block;">Starting Price</label>
        <input type="number" min="7" value="7" name="starting_price" id="starting-price"> <br>
        <label for="category">Choose a medium of art:</label>
        <select name="category" id="category" style="display: inline-block;">
          <option value="digital" selected>Digital</option>
          <option value="painting">Painting</option>
          <option value="sketch">Sketch</option>
          <option value="lineart">Line art</option>
          <option value="photography">Photography</option>
          <option value="videography">Videography</option>
        </select>
        {{!-- more  --}}
        <p class="btn-flat" id="open-more">more...</p>
        <div class="request-form-content" style="display: none;">
          <label for="tags">Tags (use comma for more tags)</label>
          <input name="tags" type="text" id="tags" />
          {{!-- <label for="other">Other</label>
          <input name="other" type="text" id="other" />
          <label for="other">Other</label>
          <input name="other" type="text" id="other" />
          <label for="other">Other</label>
          <input name="other" type="text" id="other" /> --}}
        </div>
        <div class="center-align">
          <input class="btn" type="submit" value="Submit" />
          <span class="btn-flat" id="reset-request-form">clear form </span>
        </div>
      </form>
    </div>
  </div>

</div>
<script src="/_js/homepage.js"></script>