
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    background: url(../images/what-the-hex-dark.png);
    margin-bottom: 60px; /* Margin bottom by footer height */
}
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-grv:hover {
    /* color: white; */
    text-decoration: none;
    background: rgb(0,174,255);
}
/* misnomer, for now */
.hi-scr-display{
    color: #2F231C;
    font-size: 14px;
}
.play-btn{
    text-decoration: none;
    border: none;
    border-bottom: 1px ridge #2F231C;
    line-height: 50px;
    color: white;
    background: #006999;
}
.play-btn:hover{
    color:#006999;
    text-decoration: none;
    background: #2F231C;
}
.bg-grv{
    background: #006999da;
}
.top-wrap{
    background: rgba(0, 174, 255, .24);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 25px; /* Vertically center the text there */
    background-color: transparent;
}
.text-grv {
    color: #006999;
}
.top-row{
    color: white;
    font-size: 32px;
}
.top-row-center{
    font-size: 15px;
}
.btn-grv{
    width: 100%;
    /* background: white; */
    text-decoration: none;
    border: none;
    border-bottom: 1px ridge #2F231C;
    line-height: 50px;
    /* float: left; */
}
.btn-grv:last-child{
    border-bottom: none;
}
.question {
    text-align: center;
    font-size: 18px;
    min-height: 75px;
}
/* #user-initials{
    width: 75px;

} */
#high-score-list{
    background: rgba(0, 174, 255, .48);
}
.submit-button{
    border: none;
    text-decoration: none;
}
.time-display{
    color: #2F231C;
}
.disable-click{
    pointer-events: none;
}
#resource-credits{
    font-size: 10px;
    line-height: 10px;
}
