<li>
	{{title}}

	<span class="change-sleep" data-id="{{id}}">
		{{#if complete}}completededed!{{else}}work on it!{{/if}}
	</span>

	<span class="delete-request" data-id="{{id}}">DELETE!</span>
</li>
